 
<footer id="colophon" class="site-footer" role="contentinfo">
  <div class="container">
    <div class="site-info">
    {{site.footer-powered-by-text}}
    <a href="{{site.footer-powered-by-url}}" title="{{site.footer-powered-by-title}}" rel="generator">{{site.footer-powered-by-title}}</a><span class="sep">.</span>
   
    </div>
  </footer>
</div>
</div>

<script type='text/javascript' src='{{site.baseurl}}/js/main.js'></script>
<script type='text/javascript' src='{{site.baseurl}}/js/bootstrap-transition.js'></script>
<script type='text/javascript' src='{{site.baseurl}}/js/bootstrap-carousel.js'></script>
<script type='text/javascript' src='{{site.baseurl}}/js/bootstrap-collapse.js'></script>
<script type='text/javascript' src='{{site.baseurl}}/js/bootstrap-tab.js'></script>

</body>
</html>