<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#" lang="en-US">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <title>{% if page.title %} {{page.title}} {% else %} {{site.title}} {% endif%}</title>
  <link rel='stylesheet'  href="{{site.baseurl}}/css/main.css" type='text/css' media='all' />
  <link rel='stylesheet'  href="{{site.baseurl}}/css/style.css" type='text/css' media='all' />
  <script type='text/javascript' src='{{site.baseurl}}/js/modernizr-2.6.2.min.js'></script>
  <script type='text/javascript' src='{{site.baseurl}}/js/jquery.js'></script>
  <script type='text/javascript' src='{{site.baseurl}}/js/jquery-migrate.min.js'></script>
</head>
<body class="home blog group-blog">
  <div id="page" class="hfeed site">
    <div class="container clearfix">
      <div id="navigation" class="site-nav">
        <div class="site-nav-inner">
          <div class="container">
            <header id="masthead" class="site-header" role="banner">
              <h1 class="site-title display-logo">
              <a href="/" title="{{site.title}}" rel="home">
                  <img alt="{{site.title}}}" src="{{site.baseurl}}{{site.logo}}" />
                </a>
              </h1>
              <p class="site-subtitle">
                {{site.title}}
              </p>
              <h2 class="site-description">{{site.description}}</h2>
            </header>
            <div id="main-sidebar" class="widget-area" role="complementary">
              <aside  class="widget widget_nav_menu">
                <div class="menu-main-menu-container">
                  <ul id="menu-main-menu" class="menu">
                   <li class="menu-item {% if page.url == '/index.html'  %} current_page_item {% endif %}">
                      <a href="{% if site.baseurl == '' %} / {% else %}{{site.baseurl}} {% endif %}">{{site.home-page-text}}</a>
                    </li>
                    {% assign current = page.url %}
                    {% for page in site.pages %}
                    <li class="menu-item {% if page.url  == current %} current_page_item {% endif %}">
                      <a href="{{site.baseurl}}{{page.url}}">{{page.title}}</a>
                    </li>
                    {% endfor %}
                  </ul>
                </aside>
              </div>       
               </div>
            </div>
          </div>

          <div id="actions" class="site-actions clearfix">
            <div class="action show-site-nav">
              <i class="icon-reorder"></i>
            </div>
            <div class="action devider">
            </div> 
            
            {% assign show_social = false %}
              
            
              {% if site.social-facebook != '' or if site.social-twitter != '' or if site.social-google-plus != '' or if site.social-youtube != '' or if site.social-linkedin != ''%}
              {% assign show_social = true%}
              {% endif %} 
              {% if show_social %}
              <div class="clearfix actions">
              <a class="back-top action" href="#page"><i class="icon-chevron-up"></i></a>
              <div class="action socials">
                <i class="icon-link active-socials"></i>
                <ul class="unstyled list-socials clearfix" style="width: 200px;">

                  {% if site.social-facebook != '' %}
                      
                  <li class="social"> <a href="{{site.social-facebook}}"><i class="icon-facebook"></i></a> </li>
                  {% endif %}
                  {% if site.social-twitter != '' %}
                      
                  <li class="social"> <a href="{{site.social-twitter}}"><i class="icon-twitter"></i></a> </li>
                  {% endif %}
                  {% if site.social-google-plus != '' %}
                      
                  <li class="social"> <a href="{{site.social-google-plus}}"><i class="icon-google-plus"></i></a> </li>
                  {% endif %}
                  {% if site.social-youtube != '' %}
                      
                  <li class="social"> <a href="{{site.social-youtube}}"><i class="icon-youtube"></i></a> </li>
                  {% endif %}
                  {% if site.social-linkedin != '' %}
                      
                  <li class="social"> <a href="{{site.social-linkedin}}"><i class="icon-linkedin"></i></a> </li>
                  {% endif %}

                </ul>          
              </div>
            </div>
            <!-- actions --> 
              {% endif %}

         
          </div>
          <!-- site-actions -->
