{% include header.html %}

<div id="main" class="site-main">
  <div class="site-main-inner">
    <div class="container clearfix">

      {{content}}


      <div id="secondary" class="widget-area" role="complementary">
        {% if site.show_small_adds %}
        <aside id="text-4" class="widget widget_text">      
          <div class="textwidget"><ul class="ads-125">
        
          {% for small_add in site.small_adds %}
              <li><a href="{{small_add.url}}"><img alt="" src="{{small_add.img}}"></a></li>
          {% endfor %}
          </ul>
        </div>
      </aside> 
      {% endif %}
      {% if site.show_big_add %}
      <aside id="text-2" class="widget widget_text">      
        <div class="textwidget">
        <a href="{{site.big__add.url}}"><img src="{{site.big_add.img}}" alt="" /></a>
        </div>
      </aside> 
      {% endif %}

    </div>    
    <!-- secondary  -->
  </div>
</div>
</div>
{% include footer.html %}