---
layout: default
---



   <div id="primary" class="content-area">
        <div class="primary-inner">
          <div id="content" class="site-content content-list" role="main">
         

            <article id="post-33" class="post-33 post type-post status-publish format-standard has-post-thumbnail hentry category-delicious category-freelancing category-photography tag-playing tag-shopping">
              <header class="entry-header">
                <h2 class="entry-title">
                  <a href="{{page.url}}" rel="bookmark">{{page.title}}</a></h2>   
                  <div class="entry-meta"><span class="byline">By <span class="author vcard">{{page.author}}</span></span>
                    <span class="sep"><span class="post-format"><i class="icon-file-text"></i></span></span>
                    <span class="posted-on">
                      <a href="{{post.url}}" title="12:00 am" rel="bookmark"><i class="icon-calendar-empty"></i> 
                       <time class="entry-date published" datetime="{{page.date}}">{{page.date | date: "%B,  %-d %Y"}}</time>
                     </a>
                   </span>
                 </div>  </header>

                 <div class="entry-thumbnail">
                  <a href="http://demo.designwall.com/dw-minion/?p=33" rel="bookmark">
                    <img width="620" height="350" src="{{site.baseurl}}/img/{{page.img}}" class="attachment-post-thumbnail wp-post-image" alt="{{post.title}}" />
                  </a>
                </div>

                <div class="entry-content"> 
               
                    {{content}}
                  
                  </div>
                </article> 
                <!-- article -->

                </div>
              </div>
            </div>













